body{
    margin:0;
    padding: 0;
}

.izquierda{
    background: #ffffff;
    height: 100vh;
    width: 50%;
    float: left;
}

.derecha{
    background-size: cover;
    background-image: url(images/mujerpiano2.jpg);
    background-position:center;
    width: 50%;
    height: 100vh;
    float: left;
}

.secc1{
    display: flex;
}

h1{
    padding-top: 15%;
    color: rgb(0, 0, 0);
    font-size: 40px;
    width: 70%;   
    margin: auto; 
    font-family: "Playfair Display", times, serif;
    font-weight: 500;
    line-height: 1.2;
}

h2{
    color: rgb(240, 191, 163);
    font-size: 30px;
    font-weight: 400; 
    width: 70%; 
    margin: auto;
    margin-bottom: 40px;
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 1.8;
    color: #b3b3b3;
}

p{
    font-weight: 400; 
    line-height: 1.8;
    font-size: 15px;
    width: 70%;
    line-height: 1.8;
    margin: auto;
    font-family: "Open Sans", Arial, sans-serif;
    color: #b3b3b3;
}

.social li{
   list-style-type: none;
   display: inline;
   font-weight: 400; 
   line-height: 1.8;
   font-size: 20px;
   width: 70%;
   line-height: 1.8;
   margin: auto;
   margin-left: 60px;
   padding-left: 10px;
   font-family: "Open Sans", Arial, sans-serif;  
}

a{
    text-decoration: none;
    color: #d48181;
}

a:hover{
    text-shadow:  1px 1px 1px #8b2e2e;
}

@media (max-width:800px) {
    .izquierda{
        background: #ffffff;
        height: 100vh;
        width: 100%;
        float:left;
        margin-top:400px;
    }
    
    .derecha{
        background-size: cover;
        background-image: url(images/mujerpiano2.jpg);
        background-position:center;
        width: 100%;
        height: 50vh;
        float:left;
        margin-left: -100%;
    }

    .social li{
        margin-left: 40px;
        padding-left: 5px;
    }
}